<li>
  <div class='link-detail'>
    <header>
      <a href='<%= post_path(post) %>'>
        <h4><%= post.title %></h4>
      </a>
      <small>
        <em><%= post.link %></em>
      </small>
    </header>
    <small class='meta'>
      <em>
        <%= post.link? ? 'shared' : 'written' %> by
        <a href='<%= show_post_path(post.id, post.slug) %>'>
          <%= post.user.name %>
          <%= time_ago_in_words(post.created_at) %> ago
        </a>
      </em>
    </small>
  </div>
  <div class='profile-detail'>
    <div class='avatar'>
      <img alt='<%= post.user.name %>' class='img-circle' src='<%= post.user.profile_picture %>'>
    </div>
  </div>
</li>