<li>
  <div class='link-detail'>
    <header>
      <a href='<%= post_path(topic_post) %>'>
        <h4><%= topic_post.display_title %></h4>
      </a>
      <small>
        <em><%= topic_post.link %></em>
      </small>
    </header>
    <small class='meta'>
      <em>
        <%= topic_post.link? ? 'shared' : 'written' %> by
        <a href='<%= show_post_path(topic_post.id, topic_post.slug) %>'>
          <%= topic_post.user.name %>
          <%= time_ago_in_words(topic_post.created_at) %> ago
        </a>
      </em>
    </small>
  </div>
  <div class='profile-detail'>
    <div class='avatar'>
      <img alt='<%= topic_post.user.name %>' class='img-circle' src='<%= topic_post.user.profile_picture %>'>
    </div>
  </div>
</li>