<%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>
        <%= render 'header_index' %>
        <table class='table'>
          <thead>
            <tr>
              <th>Topics</th>
            </tr>
          </thead>
          <tbody>
            <% @topics.each_with_index do |topic, index| %>
              <% if index%2 == 0 %>
                <tr>
                  <%= render 'topic_link_in_index', :topic => topic %>
              <% else %>
                <%= render 'topic_link_in_index', :topic => topic %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </section>
      <aside class='detail-panel aside-content'>
        <div class='panel-heading'>
          <h4>Even More Lists</h4>
          <p>
            Browse these essential lists. You probably haven't heard of them pork belly odio distillery cillum mumblecore artisan elit gluten-free.
          </p>
          <a class='btn light' href='#'>Add Conference</a>
        </div>
        <div class='panel-body'>
          <ul class='list'>
            <li>
              <h4>Browse</h4>
            </li>
            <li>
              <a href='#'>Teams</a>
            </li>
            <li>
              <a href='#'>Conferences</a>
            </li>
            <li>
              <a href='#'>...</a>
            </li>
          </ul>
        </div>
      </aside>

<%= render 'layouts/end_main_content_wrap' %>