<%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>
        <%= render 'header_index' %>
        <table class='table'>
          <thead>
            <tr>
              <th>Topics</th>
            </tr>
          </thead>
          <tbody>
            <% @topics.each_with_index do |topic, index| %>
              <% if index%2 == 0 %>
                <tr>
                  <%= render 'topic_link_in_index', :topic => topic %>
              <% else %>
                <%= render 'topic_link_in_index', :topic => topic %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </section>
      
      <aside class='detail-panel aside-content'>
        <div class='panel-heading'>
          <h4>What is a topic?</h4>
          <p>
            Topics are categories. 
          </p>
          <!-- <a class='btn light' href='<%= new_topic_path %>'>Create your own topic</a> -->
        </div>
      </aside>

<%= render 'layouts/end_main_content_wrap' %>