<p id="notice"><%= notice %></p>

<p>
  <b>Topic name:</b>
  <%= @topic.topic_name %>
</p>

<p>
  <b>User:</b>
  <%= @topic.user_id %>
</p>

<p>
  <b>Featured:</b>
  <%= @topic.featured %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
