            <li>
              <div class='link-detail'>
                <header>
                  <a href='<%= post_path(post) %>'>
                    <h4><%= post.display_title %></h4>
                  </a>
                  <small>
                    <em><%= post.link %></em>
                  </small>
                </header>

                <small class='meta'>
                 <p>
                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    last edited <%= time_ago_in_words(post.updated_at) %> ago
                  </a>
                </p>
                </small>

              </div>
              <div class='profile-detail'>
                <div class='avatar'>
                  <img alt='<%= user.name %>' class='img-circle' src='<%= user.profile_picture %>'>
                </div>
              </div>
            </li>