            <li>
              <div class='link-detail'>
                <header>
                  <a href='<%= post_path(post) %>'>
                    <h4><%= post.display_title %></h4>
                  </a>
                  <small>
                    <em><%= post.link %></em>
                  </small>
                </header>
                <small class='meta'>

                 <% if topics.count > 0 %> 
                  <dl class='tags'>
                    <dt>
                      Topics: 
                      <% topics.each_with_index do |topic, index| %>
                        <%= render 'topic', :topic => topic %>
                      <% end %>
                    </dt>
                  </dl>
                 <% end %>

                  <em>
                    <span class='ss-link'></span>
                    <%= time_ago_in_words(post.created_at) %> ago
                    <a href='#'>
                      <span class='ss-chat'></span>
                      <%= post.post_replies.count %> replies
                    </a>
                  </em>
                </small>
              </div>
              <div class='profile-detail'>
                <div class='avatar'>
                  <img alt='<%= user.name %>' class='img-circle' src='<%= user.profile_picture %>'>
                </div>
              </div>
            </li>