            <li>
              <div class='link-detail'>
                <header>
                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    <h4><%= post.display_title %></h4>
                  </a>
                  <small>
                    <em><%= post.link %></em>
                  </small>
                </header>

                <small class='meta'>
                 <p>
                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    <%= post.link? ? 'shared' : 'written' %> by <%= post.user.name %>
                  </a>

                  <% post.topics.each_with_index do |t, i| %><%=i == 0 ? ' in ' : ', '%><%=link_to t.topic_name, topic_path(t)%><% end %> 

                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    <%= time_ago_in_words(post.created_at) %> ago
                  </a>
                </p>
                </small>

              </div>
              <div class='profile-detail'>
                <div class='avatar'>
                  <img alt='<%= post.user.name %>' class='img-circle' src='<%= post.user.profile_picture %>'>
                </div>
              </div>
            </li>