      
      <aside class='profile-badge aside-content'>
        <div class='avatar'>
          <a href="<%= user_path(user) %>"><img alt='<%= user.name %>' class='img-circle' src='<%= user.profile_picture %>'></a>
        </div>
        <header>
          <!--<p>Shared By</p>-->
          <h3><%= user.name %></h3>
          <hr class='elipsis'>
        </header>
        <small class='meta'>
          <%= user.bio %>
          <a href='<%= user.vanity_url %>'><%= user.vanity_username %></a>
        </small>
      </aside>