      
      <aside class='profile-badge detail-panel'>
        <div class='avatar'>
          <img alt='<%= current_user.name %>' class='img-circle' src='<%= current_user.profile_picture %>'>
        </div>
        <header>
          <p>Shared By</p>
          <h3><%= current_user.name %></h3>
          <hr class='elipsis'>
        </header>
        <small class='meta'>
          <%= current_user.bio %>
          <a href='<%= current_user.vanity_url %>'><%= current_user.vanity_username %></a>
        </small>
      </aside>