    
    <% if !logged_in %>

      <div aria-hidden='true' aria-labelledby='searchModalLabel' class='modal fade' id='signupModal' role='dialog' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-content'>
            <header class='modal-header'>
              <h4 class='modal-title'>Sports Fanatics Only</h4>
            </header>
            <section class='modal-body'>
              <%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn dark' %>
            </section>
            <footer class='modal-footer'>
              <button class='btn light' data-dismiss='modal' type='button'>Close</button>
            </footer>
          </div>
        </div>
      </div>

    <% end %>

    <% if @show_verify_login_modal %>

      <div aria-show='false' aria-labelledby='searchModalLabel' class='modal fade' id='verifyModal' role='dialog' tabindex='-1' data-keyboard="false" data-backdrop="static">
        <div class='modal-dialog'>
          <div class='modal-content'>

            <% unverified_user %>

            <%= form_for @unverified_user do |f| %>

              <header class='modal-header' style="align:center; text-align:center;">
                <h4 class='modal-title'>STADIUM TIMES</h4>
              </header>
              <section class='modal-body' style="text-align:center; align:center;">
                <h7><i>Almost there.</i> Enter your email to get started on Stadium Times.</h7>
                <br/><br/>
                <div>
                  <%= f.email_field :email, class: 'form-control', :placeholder => "Email" %>
                  <br/>
                  <span class="h7" style="font-weight:normal;">By creating an account, I accept Stadium's <a href="<%= pages_about_path %>" target="_blank">Terms of Service</a></span>
                  <%= f.label :follow_twitter, :class => 'h7' do %>
                    <%= f.check_box :follow_twitter, :checked => true %>
                    <span class="h7" style="font-weight:normal;">Follow @stadiumtimes on Twitter</span>
                  <% end %>
                </div>
              </section>
              <footer class='modal-footer'>
                <%= f.submit "Complete Signup", :class => 'btn light' %>
              </footer>

            <% end %>

          </div>
        </div>
      </div>

      <script>
        $(function(){
          $('#verifyModal').modal('show');
        });
      </script>

    <% end %>