<% if current_user %>
	<% if current_user.provider == "facebook" %>
		<a class="btn small light" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=<%= post.display_title %>&amp;p[url]=<%= post.formatted_link_for_post %>&amp;p[images][0]=http://s3.amazonaws.com/crunchbase_prod_assets/assets/images/resized/0027/3719/273719v2-max-250x250.png','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"><span class='ss-action'></span>
		Share</a>

	<% else %>
		<a href="https://twitter.com/share?url=<%= post.formatted_link_for_post %>&text='<%= post.display_title %>'&via=stadiumtimes" class="btn small light" target="_blank"><span class='ss-action'></span>
		Share</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<% end %>
<% else %>
		<a href="https://twitter.com/share?url=<%= post.formatted_link_for_post %>&text='<%= post.display_title %>'&via=stadiumtimes" class="btn small light" target="_blank"><span class='ss-action'></span>
		Share</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<% end %>

