<%= form_for(@topic_pairing) do |f| %>
  <% if @topic_pairing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic_pairing.errors.count, "error") %> prohibited this topic_pairing from being saved:</h2>

      <ul>
      <% @topic_pairing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :child_id %><br />
    <%= f.number_field :child_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
