<h1>Listing topic_pairings</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Child</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topic_pairings.each do |topic_pairing| %>
  <tr>
    <td><%= topic_pairing.parent %></td>
    <td><%= topic_pairing.child %></td>
    <td><%= link_to 'Show', topic_pairing %></td>
    <td><%= link_to 'Edit', edit_topic_pairing_path(topic_pairing) %></td>
    <td><%= link_to 'Destroy', topic_pairing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic pairing', new_topic_pairing_path %>
