              
              <li class='profile'>
                <a class='go-to-profile' href='<%= user_path(current_user.id) %>'>
                  <div class='avatar'>
                    <img alt='<%= current_user.name %>' class='img-circle' src='<%= current_user.profile_picture %>'>
                  </div>
                  <%= current_user.name %>
                </a>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-toggle='dropdown' href='#' id='profile-menu' role='button'>
                    <span class='caret'></span>
                  </a>
                  <ul aria-labelledby='profile-menu' class='dropdown-menu' role='menu'>
                    <li>
                      <a href='<%= pages_help_path %>' role='menuitem' tabindex='-1'>Help</a>
                    </li>
                    <li>
                      <a href='<%= pages_about_path %>' role='menuitem' tabindex='-1'>About Stadium Times</a>
                    </li>
                    <li>
                      <a href='<%= pages_legal_path %>' role='menuitem' tabindex='-1'>Legal Terms</a>
                    </li>
                    <li class='divider'>
                      <a href='https://www.stadiumse.com' role='menuitem' tabindex='-1'>Stadium Stock Exchange</a>
                    </li>
                    <li class='divider'>
                      <a href='<%= signout_path %>' role='menuitem' tabindex='-1'>Sign Out</a>
                    </li>
                  </ul>
                </li>
              </li>