          <ul class='saved-articles list'>
            <li>
              <div class='link-detail'>
                <header>
                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    <h4><%= post.display_title %></h4>
                  </a>
                  <small>
                    <em><%= post.link %></em>
                  </small>
                </header>

                <small class='meta'>
                 <p>
                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    <%= post.link? ? 'shared' : 'written' %> by <%= post.user.name %>
                  </a>

                  <%= link_to " in reply to #{post.in_reply_to_post.display_title} ", post.in_reply_to_post.link_for_post %>

                  <a href='<%= show_post_path(post.id, post.slug) %>'>
                    <%= time_ago_in_words(post.created_at) %> ago
                  </a>
                </p>
                </small>

              </div>
              <div class='profile-detail'>
                <div class='avatar'>
                  <a href="<%= user_path(post.user) %>" border="0"><img alt='<%= post.user.name %>' class='img-circle' src='<%= post.user.profile_picture %>'></a>
                </div>
              </div>
            </li>
          </ul>