        <article>
          <header>
            <h2>
              <a href='<%= post.link_for_post %>' target="<%= determine_target(post) %>" ><%= post.display_title %></a>
            </h2>
            <div class='article-controls'>
              <div class='btn-group' id="votes_<%= post.id %>">
                <%= render 'shared/vote_up_or_down_links', post: post %>
              </div>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
              </a>
            </div>
          </header>
          
          <small class='meta'>
            <p>
              <%= post.link? ? 'shared' : 'written' %> by
              <a href='<%= show_post_path(post.id, post.slug) %>'>
                <%= author.name %>

                <% post.topics.each_with_index do |t, i| %>
                  <% if i == 0 %>in <% end %>
                    <%= t.topic_name %>
                <% end %> 

                <%= time_ago_in_words(post.created_at) %> ago

              </a>

            </p>
            
          </small>
        </article>