        <article>
          <header>
            <h2>
              <a href='<%= post.link_for_post %>'><%= post.title %></a>
            </h2>
            <div class='article-controls'>
              <div class='btn-group'>
                <div id="votes_<%= post.id %>">
                  <%= render 'shared/vote_up_or_down_links', post: post %>
                </div>
              </div>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
              </a>
            </div>
          </header>
          <% if post.text %>
            <p><%= post.text %></p>
          <% end %>
          <small class='meta'>
            <p>
              shared by
              <a href='<%= user_path(author) %>'>
                <%= author.name %>
              </a>

              <% post.topics.each_with_index do |t, i| %>
                <% if i == 0 %>in <% end %>
                <a href='<%= topic_path(t) %>'>
                  <%= t.topic_name %>
                </a> 
              <% end %>


            </p>
            <em>
              <span class='ss-link'></span>
              <%= time_ago_in_words(post.created_at) %> ago
              <a href='<%= post_url(post) %>'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>