        <article>
          <header>
            <h2>
              <a href='<%= post.link_for_post %>' target="<%= determine_target(post) %>" ><%= post.display_title %></a>
            </h2>
            <div class='article-controls'>
              <div class='btn-group post_vote' id="votes_<%= post.id %>">
                <%= render 'shared/vote_up_or_down_links', post: post %>
              </div>
            </div>
          </header>
          
          <small class='meta'>
            <p>
              <a href='<%= show_post_path(post.id, post.slug) %>'>
                <%= post.link? ? 'shared' : 'written' %> by <%= author.name %>
              </a>

              <% post.topics.each_with_index do |t, i| %><%=i == 0 ? ' in ' : ', '%><%=link_to t.topic_name, topic_path(t)%><% end %> 

              <a href='<%= show_post_path(post.id, post.slug) %>'>
                <%= time_ago_in_words(post.created_at) %> ago
              </a>


            </p>
            
          </small>
        </article>