          
          <li class='alpha'>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='<%= user.name %>' class='img-circle' src='<%= user.profile_picture %>'>
              </div>
            </div>
            <div class='comment-detail'>
              
              <%= form_for @comment, :remote => true, :html => {:class => "comment", 'role' => 'form'} do |f| %>
                <% if @comment.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                    <ul>
                    <% @comment.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                
                <%= f.hidden_field :user_id, :value => user.id %>
                <%= f.hidden_field :post_id, :value => @post.id %>
                <div class='form-group'>
                  <%= f.text_area :comment_text, class: 'form-control comment-area new-comment-box', :placeholder => 'Comment...' %>
                </div>
                <button id="new-comment-button" class='btn primary' type='submit'>Tweet</button>

              <% end %>

            </div>
          </li>