      
      <section class='article-focus main-content'>

        <article>

          <header>
            <h3>
              <a href='<%= @post.link_for_post %>' target="<%= determine_target(@post) %>">
                <%= @post.display_title %>
              </a>
            </h3>
            <%= @post.in_reply_to_post ? (render 'in_reply_to_post', :post => @post.in_reply_to_post) : nil %>
          </header>
          
          <%= @post.text.html_safe if @post.text %>


          <footer>

            <div class='article-controls'>
              <div class='btn-group' id="votes_<%= @post.id %>">
                <%= render 'shared/vote_up_or_down_links', post: @post %>
              </div>
              <a class='btn small light' href='<%= new_post_path(:r => @post.id) %>'>
                <span class='ss-redo circle'></span>
                Respond
              </a>
              <%= render 'shared/share', :post => @post %>
              <%= render 'shared/spam', received_obj: @post %>
            </div>

            <a class='btn primary' href='#sidebar' id='sidebarButton'>Join the Conversation</a>

            <%= render 'response_posts' %>

            <small class='meta'>

              <!--
              <dl class='tags'>
                <dt>
                  Topics:
                  <dd>
                    <a href='#'>NCAA Football</a>
                  </dd>
                  <dd>
                    <a href='#'>Draft Picks</a>
                  </dd>
                  <dd>
                    <a href='#'>Rootbeer</a>
                  </dd>
                </dt>
              </dl>

              <em>
                <span class='ss-link'></span>
                7 hours ago
                <a href='#'>
                  <span class='ss-chat'></span>
                  12 Replies
                </a>
              </em>
              -->

            </small>

          </footer>

        </article>

      </section>