  <%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>


        <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          
            
            <%= f.hidden_field :post_type, :value => 'text' %>
          
            <%= f.hidden_field :user_id, :value => current_user.id %>

            <%= f.hidden_field :id, :value => @post.id, id: 'current-post-id' %>
          
            <%= f.hidden_field :post_id, :value => @reply_to_post %>

        <header class="main-header">
          <div class="title">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a id="save-status" class="btn light active" href="#">Saved!</a>
                  <%= link_to "Delete", @post, :method => :delete, :class => "btn light" %>
                  <a class="btn light" href="<%= publish_post_path(@post) %>">Publish</a>
                </div>
              </div>
          </div>
        </header>

        <header class="main-header">
          <div class="editable-post-field title" id="top-title-div" contenteditable="true" onClick="this.contentEditable='true';" tabindex=1>
              <h3 id="top-title-span"><%= (@post.title && (@post.title.length > 0)) ? @post.title : 'Type your title' %></h3>
          </div>
        </header>

          <div class="editable-post-field" id="body-text-div" contenteditable="true" onClick="this.contentEditable='true';" tabindex=2>
              <%= (@post.text && (@post.text.length > 0)) ? @post.text.html_safe : '<p id="body-text-span">Type your thoughts</p>'.html_safe %>
          </div>
          
        <% end %>

      </section>

      

      <%= render 'shared/author_box', :user => current_user %>

  <%= render 'layouts/end_main_content_wrap' %>


