  
    <!-- LIBS -->
    <script src="/assets/js/edit_post.js"></script>
    <script src="/js/libs/head.min.js"></script>
    <script src="/js/libs/FileSaver.min.js"></script>
    <script src="/js/libs/Blob.js"></script>
    <script src="/js/libs/fullScreen.js"></script>

  <%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>


        <div class="text-options">
          <div class="options">
            <span class="no-overflow">
              <span class="lengthen ui-inputs">
                <button class="url useicons">&#xe005;</button>
                <input class="url-input" type="text" placeholder="Type or Paste URL here"/>
                <button class="bold">b</button>
                <button class="italic">i</button>
                <button class="quote">&rdquo;</button>
              </span>
            </span>
          </div>
        </div>


        <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          
            
            <%= f.hidden_field :post_type, :value => 'text' %>
          
            <%= f.hidden_field :user_id, :value => current_user.id %>

            <%= f.hidden_field :id, :value => @post.id, id: 'current-post-id' %>
          
            <%= f.hidden_field :post_id, :value => @post.post_id %>

            <header class="main-header">
              <div class="title">
                <%= @post.in_reply_to_post ? (render 'in_reply_to_post', :post => @post.in_reply_to_post) : '' %>
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <a id="save-status" class="btn light active" href="#">Saved!</a>
                      <%= link_to "Delete", @post, :method => :delete, :class => "btn light" %>
                     <!--  <a class="btn light" href="<%= publish_post_path(@post) %>">Publish</a> -->
                     <a href="#topicModal" role="button" class="btn light" data-toggle="modal">Publish</a>
                    </div>
                  </div>
              </div>
            </header>
          
        <% end %>

        <!-- Button to trigger modal -->
        <!-- <a href="#topicModal" role="button" class="btn" data-toggle="modal">Fuck</a> -->

        <header contenteditable="true" class="header main-header h3 editable-post-field" id="top-title-span" tabindex=1><%= (@post.title && (@post.title.length > 0)) ? @post.title : 'Type your title' %></header>

        <article contenteditable="true" class="content editable-post-field" id="body-text-div" tabindex=2>
          <%= (@post.text && (@post.text != '<p></p>') && (@post.text != '<p><br></p>') && (@post.text.length > 0)) ? @post.text.html_safe : (render 'article_sample_instructions') %>
        </article>

      </section>

      <!-- JS -->
    <script type="text/javascript">
      // Load required scripts. 
      head.js( 
        "/js/utils.js",
        "/js/ui.js",
        "/js/editor.js",
            function(){
                
                // Initiate ZenPen
                editor.init();
            ui.init();
              }
          );
        </script>

      <%= render 'shared/author_box', :user => current_user, :post => nil %>
      
  <%= render 'layouts/end_main_content_wrap' %>

  <!-- Modals -->
  <!-- Topic Modal -->
  <div aria-hidden='true' aria-labelledby='searchModalLabel' class='modal fade' id='topicModal' role='dialog' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <header class='modal-header'>
          <h4 class='modal-title'>Pick a topic</h4>
        </header>
        <section class='modal-body'>
          <ul class='list' id="search_results">
            <% @all_topics.each do |topic| %>
              <%= link_to topic.topic_name, publish_post_path(:id => @post.id, :topic=> topic.id) %><br>
            <% end %>
            <footer class='modal-footer'>
              <%= link_to "Skip", publish_post_path(@post), :class => 'btn light' %>
            </footer>
          </ul>
          <br><br><br><br><br><br>
        </section>
      </div>
    </div>
  </div>



