
  <%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>


        <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <%= f.hidden_field :post_type, :value => 'link' %>
          
            <%= f.hidden_field :user_id, :value => current_user.id %>
          
            <%= f.hidden_field :post_id, :value => @reply_to_post %>

            <header class="main-header">
              <div class="title">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <%= link_to 'Share', "#", :onclick => "$('#new_post').submit()", :class => 'btn light' %>
                    </div>
                  </div>
              </div>
            </header>

            <header class="header main-header">
              <%= f.text_field :title, :placeholder => 'Type the title', :class => 'title-form-box form-control h3' %>
            </header>

            <article class="content">
              <%= f.text_field :link, :placeholder => 'Paste the link', :class => 'body-form-box form-control' %>
            </article>
          
        <% end %>

      </section>
      

      <%= render 'shared/author_box', :user => current_user, :post => nil %>

  <%= render 'layouts/end_main_content_wrap' %>


