  <%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>


        <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          
            
            <%= f.hidden_field :post_type, :value => 'text' %>
          
            <%= f.hidden_field :user_id, :value => current_user.id %>

            <%= f.hidden_field :id, :value => @post.id, id: 'current-post-id' %>
          
            <%= f.hidden_field :post_id, :value => @reply_to_post %>

          <div class="editable-post-field" id ="top-title-div" onClick="this.contentEditable='true';">
              <h3 id="top-title-span">Type your title</h3>
          </div>

          <div class="editable-post-field" id="body-text-div" onClick="this.contentEditable='true';">
              <p id="body-text-span">Type your article</p>
          </div>
          
        <% end %>

      </section>

      

      <%= render 'shared/author_box', :user => current_user %>

  <%= render 'layouts/end_main_content_wrap' %>


