  <%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>


        <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          
            
            <%= f.hidden_field :post_type, :value => 'text' %>
          
          
          
            <%= f.hidden_field :user_id, :value => current_user.id %>
          
          
          
            <%= f.hidden_field :post_id, :value => @reply_to_post %>

          <div class='form-group'>
            <%= f.text_area :title, class: 'form-control title-form-box', placeholder: 'Type your title' %>
          </div>

          <div onClick="this.contentEditable='true';">
              lorem ipsum dolor lorem ipsum dolorlorem ipsum dolor
          </div>
          
          <div class='form-group'>
            <%= f.text_area :text, class: 'form-control body-form-box', placeholder: 'Type your body'  %>
          </div>
          
          <%= f.submit %>
          
        <% end %>

      </section>

      

      <%= render 'shared/author_box', :user => current_user %>

  <%= render 'layouts/end_main_content_wrap' %>


