<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <!-- Meta -->
  <meta charset='UTF-8'>
  <meta content='width=device-width,initial-scale=1' name='viewport'>
  <title><%= defined?(@title) ? "#{@title} | " : nil %>Stadium Times</title>

  <meta content='Stadium Times, by sports nerds for sports nerds.' name='description'>
  <meta content='Stadium Times, times, Stadium Stock Exchange, Bus Productions, sports, stock, exchange, news, source, resource, articles, football, stadium, university, play, game, points, qb, sports, nerds' name='keywords'>
  <meta content='Stadium Times' name='author'>
  <meta content='Stadium Times | By Sports Nerds For Sports Nerds' property='og:title'>
  <meta content='Stadium Times' property='og:site_name'>
  <meta content='website' property='og:type'>
  <meta content='../assets/images/logos-icons/og-image_stadiumtimes.png' property='og:image'>


  <%= csrf_meta_tags %>

  <link href='/assets/images/logos-icons/favicon.ico' rel='icon' type='images/png'>
  <!-- Style -->

  
  <link href='/assets/css/fonts.css' rel='stylesheet'>
  <link href='/assets/css/site.css' rel='stylesheet'>
  <link href='/assets/fonts/ss-block/webfonts/ss-symbolicons-block.css' rel='stylesheet'>
  <!-- Video -->
  <!-- %link{:rel => "stylesheet", :href => "http://dfcb.github.io/BigVideo.js/bower_components/BigVideo/css/bigvideo.css"}/ -->
  <!--[if lt IE 9 ]>
    <link href='../assets/css/ie.css' rel='stylesheet'>
  <![endif]-->
  <!-- Scripts -->

  <%= javascript_include_tag "application" %>
  
  <script rel='javascript' src='//use.typekit.net/bar5cpd.js'></script>
  <script>
    try{Typekit.load();}catch(e){}
  </script>

</head>

<% if @body_class %>
<body class="<%= @body_class %>">
<% else %>
<body>
<% end %>

  <%= render 'layouts/content_wrap' %>

    <%= render 'layouts/header' %>

    

      <%= yield %>

    

    <%= render 'layouts/footer' %>

    <%= render 'shared/modals' %>

    <%= render 'layouts/end_content_wrap' %>
    

    <script rel='javascript' src='http://zurb.com/playground/projects/off-canvas/javascripts/foundation/jquery.offcanvas.js'></script>
    <script rel='javascript' src='/assets/js/app.js'></script>

    <%= (defined?(@compose) && @compose)? (render 'posts/zenpen') : nil  %>

    <!-- / Big Video -->
    <!-- / %script{:rel => "javascript", :src => "http://dfcb.github.io/BigVideo.js/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"} -->
    <!-- / %script{:rel => "javascript", :src => "http://vjs.zencdn.net/4.0/video.js"} -->
    <!-- / %script{:rel => "javascript", :src => "http://dfcb.github.io/BigVideo.js/bower_components/BigVideo/lib/bigvideo.js"} -->
    <!-- / %script -->
    <!-- /     $(function() { -->
    <!-- /     var BV = new $.BigVideo(); -->
    <!-- /     BV.init(); -->
    <!-- /     BV.show('http://video-js.zencoder.com/oceans-clip.mp4',{ambient:true}); -->
    <!-- /     }); -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42526157-3', 'stadiumtimes.com');
      ga('send', 'pageview');
    </script>

</body>
